body {
	font-family: Arial;
	background: #fff;
}
h3 {
	font-size: 20px;
	font-weight: 700;
	margin-bottom: 15px;
	border-bottom: 1px solid #e7e7e7;
	padding: 5px 0;
}
h4 {
	font-size: 17px;
	font-weight: 700;
	margin-bottom: 10px;
	color: #777;
}
h4.lines {
	font-weight: normal;
	border-top: 1px solid #e7e7e7;
	border-bottom: 1px solid #e7e7e7;
	padding: 5px 0;
	margin: 0;
}
h4.lines.no {
	border: none !important;
}
h6 {
	font-size: 14px;
}
p {
	font-size: 14px;
}
.row.pad {
	padding-bottom: 40px;
}
.row.im {
	padding-bottom: 2px;
}
.bc {
	padding: 5px;
	border-radius: 4px;
	border: 1px solid #e7e7e7;
	margin: 0;
	font-size: 14px;
}
.bc:hover {
	text-decoration: none;
}
.bc.btn-green.active {
	background: #3ac13a;
	border: 1px solid #3ac13a;
	color: white;
}
.bc.btn-warn.active {
	background: #eccc2b;
	border: 1px solid #eccc2b;
	color: white;
}
.bc.btn-red.active {
	background: #dc3545;
	border: 1px solid #dc3545;
	color: white;	
}
.flex {
	display: flex;
	justify-content: space-between;
}
.fl {
	width: 100%;
	height: 200px;
	background: url('../img/front-lighting.jpg') 50% 40px no-repeat;
}
.rl {
	width: 100%;
	height: 200px;
	background: url('../img/rear-lighting.jpg') 50% 62px no-repeat;
}
.btn-primary {
	background: #3ac13a !important;
	border: 1px solid #3ac13a !important;
}
.pady {
	padding: 50px 0;
}