table.dataTable thead th, table.dataTable thead td {
    padding: none !important;
    border-bottom: none !important;
}
.dataTables_info{
    display:none !important;
}
table.dataTable tfoot th, table.dataTable tfoot td {
    padding: none !important;
    border-top: 1px solid #e7eaec !important;
}

table.dataTable{
    border-bottom: none !important;
}
table.dataTable th{
    padding: 5px 10px 10px 22px !important;
}
table.dataTable th:first-child{
    padding-left:10px !important;
}
table.dataTable th span{
    display:inline-block;
    line-height:18px !important;
    vertical-align:middle;
}
table.dataTable thead .sorting_asc {
  background-position: 0px 6px !important;
}
table.dataTable thead .sorting_desc {
  background-position: 0px 6px !important;
}
table.dataTable thead .sorting {
  background-position: 0px 6px !important;
}

#delete_avatar{
    border: none;
    vertical-align: top;
    background: none;
    font-weight: bold;
    font-size: 20px;
    color:#333;
}
#delete_avatar:hover{
    color:#666;
}
.btn-restore, .btn-restore:hover{
    background-color: #336699;
    border-color: #336699;
    color:#fff;
}
.tagsinput{
    max-height:160px;
    overflow-y:auto;
}
.tagsinput.scrolled{
    border-bottom:40px solid #fff;
}
.tagsinput.scrolled div{
    position:absolute;
    bottom:0px;
    left:15px;
    width:calc(100% - 30px);
    border:1px solid #eee;
}


/*FIXED header dataTable 1st row*/
table.dataTable.fixedHeader-floating {
    display: block;
    table-layout: fixed;
    top: 0px;
    left: 225px;
    padding-left:25px;
    width: 399px;
    /*background: #f9f9f9;*/
    overflow: hidden;
    box-shadow:0 0 14px 1px #eee;
}
table.dataTable.fixedHeader-floating thead{
    display:block;
}

.btn{
    margin-bottom:4px !important;
}

.dropdown .fa-language{
    font-size: 26px !important;
    vertical-align: middle;
}
.sticked{
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    position: sticky;
    background:#fff;
    left:0px;
}




@media screen and (max-width:1000px){
    .wrapper-content {
        padding: 20px 0px 40px 0;
        margin-left: -10px;
        margin-right: -10px;
    }

    table.dataTable tr,
    table.dataTable th{
        position:relative;
    }


    /*FIXED dataTable column 1,2*/
    table.dataTable thead th:first-child,
    table.dataTable tbody td:first-child{
        background:#fff;
        padding-right:2px !important;
        z-index:99;
    }
    table.dataTable thead th:nth-child(2),
    table.dataTable tbody td:nth-child(2){
        background-color:#fff;
        border-right:1px solid #eee;
        z-index:99;
    }
    table.dataTable tbody td:nth-child(2){
        padding-left:1px !important;
    }

    table.dataTable thead th:nth-child(2){
        /*position:relative;*/
        border-right:1px solid #fff;
    }
}

@media screen and (max-width:500px){
    .btn{
        margin:4px !important;
        display:block;
    }
}